@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html, body, #root {
        @apply h-full bg-backdrop text-white
    }
    #root {
        @apply flex flex-col
    }
    .wrapper {
        height: calc(100% - theme('spacing.24'));
        @apply flex
    }
    .section-title {
        @apply text-3xl font-bold mb-6;
        font-size: 2rem;
        letter-spacing: -0.04em;
    }

}