@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full bg-backdrop text-white;
  }
  #root {
    @apply flex flex-col;
  }
  .wrapper {
    @apply flex;
    height: calc(100% - theme("spacing.20"));
  }
  .section-title {
    @apply text-lg sm:text-2xl font-semibold;
    letter-spacing: -0.04em;
  }
  .item-title {
    @apply text-base font-bold leading-6;
  }
  .item-desc {
    @apply leading-4 text-sm text-[#999999];
  }
  .button-primary {
    @apply bg-primary rounded-full text-black px-8 py-2 font-semibold text-[1rem] min-h-[40px];
  }
}
@media screen and (min-width: theme("screens.lg")) {
  .wrapper {
    height: calc(100% - theme("spacing.24"));
  }
}
